<div class="row" id="div-alert-message">
    <!-- <div class="alert alert-success col-12" *ngIf="typeAlert == 'success'">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
        <span><b> </b>{{message}}</span>
    </div>

    <div class="alert alert-warning col-12" *ngIf="typeAlert == 'warning'">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
        <span><b> Cảnh báo - </b> {{message}}</span>
    </div>

    <div class="alert alert-danger col-12" *ngIf="typeAlert == 'danger'">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
        <span><b> Lỗi - </b> {{message}}</span>
    </div> -->
</div>