<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<div *ngIf="isBlock">
    <check-block-before-login></check-block-before-login>
</div>
<div *ngIf="!isBlock">
    <forgot-password *ngIf="forgotPassword == true && register == false"></forgot-password>

    <div class="wrapper wrapper-full-page" *ngIf="forgotPassword == false && register == false">
        <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                        <form class="form" method="" action="#">
                            <div class="card card-login card-hidden" style="padding: 10px;border-radius: 15px !important;">
                                <div class="card-body ">
                                    <h3 style="text-align: center;font-weight: 600;">Đăng nhập</h3>
                                    <a *ngIf="ShowUserName" (click)="onClickUserName()" class="card-description text-center user-storage" href="javascript:;">Đăng nhập với: {{userStorage.firstName+' '+userStorage.lastName}}</a>
                                    <span class="bmd-form-group">
                    <div class="input-group" *ngIf="!ShowUserName">
                                <input [(ngModel)]="userModel.username" name="username" #username="ngModel" type="email" class="form-control username" placeholder="Tài khoản..." required>
                            </div>
                            </span>
                                    <span class="bmd-form-group">
                    <div class="input-group">
                    <input [(ngModel)]="userModel.password" (keyup.enter)="login()" name="password" #password="ngModel" type="password" class="form-control password" placeholder="Mật khẩu..." required>
                        <div class="input-group-prepend" style="position: absolute;right: 7px;top: 0px;z-index: 10000;">
                                <span class="input-group-text" style="padding: 7px 0px 0px 5px !important;">
                                    <a href="javascript:;">
                                        <i class="material-icons" (click)="login()" style="border: 1px solid #767676;padding: 1px;border-radius: 50%;">arrow_forward</i>
                                    </a>
                                </span>
                                </div>
                            </div>
                            </span>
                            <label style="color: red;">{{message}}</label>
                    </div>
                    <div class="card-footer justify-content-center" style="display: contents;">
                        <!-- <a href="javascript:;" (click)="login()" class="btn btn-rose btn-link btn-lg">
                    Đăng nhập
                    </a> -->
                        <a href="javascript:;" (click)="onForgotPassword()" class="forgot-login">Quên mật khẩu?</a>
                        <span class="span-version">V20.11.23.08.30</span>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer" style="background-color: #8080808a;">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="#">
                    Copyright ©2023 OSOFT. All rights reserved.
                </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
</div>
<register *ngIf="register == true"></register>
</div>