@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a id="btnPrint" class="btn btn-success" href="../WarrantyReport/PrintReport" target="_blank">Print</a>