<form method="#" action="#" class="form-data form-view-master">
    <app-toolbar #toolbar [tableName]="tbName" [CurrenFrom]="CurrenFrom" [classInsert]="'form-30082023'"></app-toolbar>
    <alert-message #alertMessage></alert-message>
    <osoft-data-grid #DataGridGenRowTable [tableName]="tbName" [dataSource]="listData" (OnSelectRow)="selectRow($event)"></osoft-data-grid>
</form>
<dialog-acction #dialogDelete [content]="'Bạn có chắc chắn muốn xóa?'" [title]="'Vui lòng xác nhận'" (confirmOutput)="confirmDelete()"></dialog-acction>
