.warranty-container {
    width: 220px;
    max-width: 100%;
    margin: 0 16px 16px 0;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    background: #E9E9E9;
}

.warranty-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin: 5px;
}

.warranty-box {
    padding: 2px 2px;
    border-bottom: solid 5px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 10px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.warranty-box:last-child {
    border: none;
}

.warranty-list.cdk-drop-list-dragging .warranty-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.justify-content-between {
    font-weight: 500;
    line-height: 0.9;
}

.justify-content-between.inprogress {
    border-bottom: 1px solid #0F6CBD;
    background: #0F6CBD;
    border-radius: 10px;
    padding: 7px;
}

.justify-content-between.done {
    border-bottom: 1px solid #4caf50;
    background: #4caf50;
}

.small-footer {
    display: flex;
}

.a-branch {
    float: right;
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.mat-step:hover,
.mat-step.active {}

.h3-action {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.h5-name {
    margin: 0 !important;
    padding: 0px 0px 0px 22px !important;
    color: #FFF;
    font-family: Roboto;
    font-size: 16.08px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.div-text-time {
    text-align: right;
}

.span-icon-edit-executor {
    display: block;
    position: absolute;
    right: 0;
}

.span-icon-edit-serial {
    display: none;
}


/* .b-executor-name:hover+.span-icon-edit-executor {
    display: block;
    position: absolute;
    right: 0;
} */

.a-serial:hover+.span-icon-edit-serial {
    display: block !important;
}

.div-topic-name {
    width: 100%;
    border-radius: 7px 7px 0px 0px !important;
    background: #0F6CBD !important;
    text-align: center !important;
    padding: 12px;
}


/* .div-topic-name:hover {
    width: 350px;
} */

.div-group-content {
    color: green;
    font-weight: 700;
    border-bottom: 1px solid;
}

.pd-0 {
    padding: 0;
}

.mg-0 {
    margin: 0;
}

.span-icon-edit-tag {
    display: block;
    position: absolute;
    right: 0;
}

b {
    font-weight: 700 !important;
}

div#collapseTwo {
    border-bottom: 1px solid green;
}

span.title-task-name {
    color: #FFF !important;
    font-family: Roboto !important;
    font-size: 18.08px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    padding: 5px !important;
}

.toolbar-task {
    width: 100%;
    height: 32px;
    border: 1px solid #FFF;
    background: #44BA1B;
    flex-shrink: 0;
    display: flex;
}

.action-task {
    width: 20%;
    border: 1px solid #6ece00;
    background: #44BA1B;
    height: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
    color: white;
}

.item-details {
    margin: 0.45rem !important;
}

.dropdown-item-task-action {
    padding-left: 1px !important;
}

.b-executor-name {
    padding-left: 5px;
}

.avarta-executor {
    width: 25px;
    height: auto;
    max-height: 25px;
    right: 0px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
}

.k-form-edit.drop-task {
    width: 100% !important;
    overflow-y: scroll !important;
}

.k-form-edit.drop-task::-webkit-scrollbar {
    width: 10px !important;
    height: 15px !important;
}