<div class="example theme-login">
    <form class="k-form form-login" [formGroup]="form">
        <fieldset class="k-form-fieldset">
            <kendo-formfield>
                <kendo-textbox formControlName="passwordNew" #passwordNew [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button kendoButton look="clear" icon="eye" (click)="toggleVisibility()"></button>
                    </ng-template>
                </kendo-textbox>
                <label>New password</label>
            </kendo-formfield>
            <kendo-formfield>
                <kendo-textbox formControlName="confirmpassword" #confirmpassword [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button kendoButton look="clear" icon="eye" (click)="toggleVisibility()"></button>
                    </ng-template>
                </kendo-textbox>
                <label>Confirm password</label>
            </kendo-formfield>
            <kendo-formfield>
                <kendo-textbox formControlName="Code" [clearButton]="true" #Code required></kendo-textbox>
                <label>Code</label>
                <kendo-formerror>Error: Code is required</kendo-formerror>
            </kendo-formfield>
            <div class="k-form-buttons">
                <button class="k-button k-primary" (click)="submit()">Xác nhận</button>
                <a href="/login" class="forgot-login">Đăng nhập?</a>
            </div>
        </fieldset>
        <label class="{{class}}">{{message}}</label>
    </form>
</div>