<!-- <iframe width="100%" height="100%" frameborder="0" scrolling="auto" src="https://localhost:4200/sales-invoice-with-goods-delivery-note-edit;co=1" title="Phiếu">
    
</iframe> -->
<s32-m-edit *ngIf="rowSelected.voucher_code == 'HDB' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></s32-m-edit>
<s33-m-edit *ngIf="rowSelected.voucher_code == 'HTL' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></s33-m-edit>
<i44-m-edit *ngIf="rowSelected.voucher_code == 'PDC' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></i44-m-edit>
<i42-m-edit *ngIf="rowSelected.voucher_code == 'PNH' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></i42-m-edit>
<p22-m-edit *ngIf="rowSelected.voucher_code == 'PNM' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></p22-m-edit>
<i43-m-edit *ngIf="rowSelected.voucher_code == 'PXK' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></i43-m-edit>
<p24-m-edit *ngIf="rowSelected.voucher_code == 'PXT' && code && rowSelected" [code]="code" [rowSelected]="rowSelected"></p24-m-edit>