<div class="card-container k-form-edit">
    <app-toolbar #toolbar [tableName]="tbName" [CurrenFrom]="CurrenFrom"></app-toolbar>
    <div class="example-wrapper form-group">
        <div class="example-wrapper">
            <div class="card-collapse">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" style="color: #00bcd4 !important;" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Click để lọc dữ liệu
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                    </h5>
                </div>
                <div id="collapseTwo" style="padding: 5px 10px 5px 0;" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="">
                            <div class="form-group filter">
                                <div class="row div-filter">
                                    <!-- Begin filter -->
                                    <!-- Tên -->
                                    <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                        <div class="form-group">
                                            <label for="name" class="label-title">Tên</label>
                                            <input type="text" #name="ngModel" name="name" [(ngModel)]="filterInput.name" class="form-control" [value]="filterInput.name" id="name">
                                        </div>
                                    </div>
                                    <!-- Ngày bắt đầu -->
                                    <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                        <div class="form-group">
                                            <label for="id_stop_date" class="label-title">Ngày bắt đầu (từ ngày)</label>
                                            <input-datepicker [ColumnName]="'start_date'" name="start_date" (ValueOutput)="valueStartDate($event,'start_date')"></input-datepicker>
                                        </div>
                                    </div>
                                    <!-- Ngày kết thúc -->
                                    <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                        <div class="form-group">
                                            <label for="id_progress_task" class=" label-title">Ngày kết thúc (đến ngày)</label>
                                            <input-datepicker [ColumnName]="'stop_date'" name="stop_date" (ValueOutput)="valueStartDate($event,'stop_date')"></input-datepicker>
                                        </div>
                                    </div>

                                    <!-- end filter -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-component form-group">
            <jqgrid-list #gridList (ValueOutput)="selectRow($event)" [colModel]="col_model" [table]="tbName" [title]="'Danh sách dự án'"></jqgrid-list>
        </div>
        <dialog-acction #dialogDelete [content]="'Bạn có chắc chắn muốn xóa?'" [title]="translate('Vui lòng xác nhận','Confirm ')" (confirmOutput)="confirmDelete()"></dialog-acction>
    </div>
    <!-- Edit -->
    <sidenav-add-edit #sidenavAddEdit [title]="'Chỉnh sửa thông tin dự án'" *ngIf="isEdit" class="form-sidenav-edit">
        <form method="#" action="#" style="padding: 20px;" class="form-jqgrid-edit">
            <app-toolbar #toolbarEdit [tableName]="tbName" [CurrenFrom]="getCurrenFrom"></app-toolbar>
            <alert-message #alertMessage></alert-message>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_name" class=" label-title">Tên dự án</label>
                        <input type="text" #name="ngModel" name="name" [(ngModel)]="InputModel.name" [value]="InputModel.name" class="form-control" id="id_name">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_start_date" class=" label-title">Ngày bắt đầu</label>
                        <input-datepicker [ColumnName]="'start_date2'" name="inputModel['start_date']" [value]="InputModel.start_date" (ValueOutput)="valueStartDate($event,'start_date')"></input-datepicker>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_stop_date" class=" label-title">Ngày kết thúc dự kiến</label>
                        <input-datepicker [ColumnName]="'stop_date2'" name="inputModel['stop_date']" [value]="InputModel.stop_date" (ValueOutput)="valueStartDate($event,'stop_date')"></input-datepicker>
                    </div>
                </div>
                <jqgrid-edit #gridMenuEdit [colModel]="col_model_edit" [table]="tbName_sub" [title]="'Danh sách task'"></jqgrid-edit>
            </div>
        </form>
    </sidenav-add-edit>