<div class="example theme-login" *ngIf="verifyPassword != true">
    <form class="k-form form-login" [formGroup]="form">
        <fieldset class="k-form-fieldset">
            <kendo-formfield>
                <kendo-textbox formControlName="email" [clearButton]="true" #email required></kendo-textbox>
                <kendo-formhint>Your Email</kendo-formhint>
                <kendo-formerror>Error: email is required</kendo-formerror>
                <kendo-formhint class="{{class}}">{{message}}</kendo-formhint>
            </kendo-formfield>
            <div class="k-form-buttons">
                <button class="k-button k-primary" *ngIf="display" (click)="submit()">Xác nhận</button>
                <a href="/login" class="forgot-login">Tôi đã có tài khoản.</a>
            </div>
        </fieldset>
    </form>
</div>
<verify-password *ngIf="verifyPassword == true" [email]="email"></verify-password>