@{
    ViewData["Title"] = "Home Page";
}

<div id="RightPanel" class="stiRightPanel">
    @*<iframe src="~/View/Reports/SimpleList" id="stiMainFrame" class="stiMainFrame" onload="mainFrameLoadComplete()"></iframe>*@
    <iframe src="~/View/Reports/Preview" id="stiMainFrame" class="stiMainFrame" ></iframe>
</div>
