<div class="form-group">
    <div class="file-input">
        <input [disabled]="disabledButton" type="file" class="form-control file" id="file" (change)="handleFileInput($event)" name="file" [multiple]="multiple">
        <div class="row" [hidden]="disabledButton">
            <div class="col-6">
                <label for="file" class="label-file">
                <span class="k-icon k-i-attachment-45"></span> 
                Select file...  
                </label>
            </div>
        </div>
        <div class="example-config row upload-files" style="max-height: 450px;overflow-y: scroll;">
            <ul class="list-group col-12" *ngFor="let item of tempFiles;index as i">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="javascript:;" (click)="download(item.path,item['fileName'])"><span class="material-icons">download</span>{{niceBytes(item['size'])}} {{item['fileName']}}</a>
                    <span>
                        <button [hidden]="disabledButton" [disabled]="disabledButton" (click)="delete(item.id)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>