<dx-popup [width]="450" [height]="350" [showTitle]="true" title="{{translate('Thông số xuất khẩu','Export parameters')}}" [dragEnabled]="false" [showCloseButton]="true" container=".dx-viewport" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="dx-field">
            <dx-select-box [dataSource]="dataSourceTemplate" [(selectedItem)]="selectedItem" [value]="selectedItem?selectedItem.code:''" showClearButton="false" displayExpr="name" valueExpr="code" label="{{translate('Mẫu','Template')}}" [stylingMode]="stylingMode"
                [labelMode]="labelMode">
                <div *dxTemplate="let data of 'dropDownButton'">
                    <i class="dx-icon dx-icon-{{data.report_icon}}"></i>
                    <div *ngIf="!selectedItem" class="dx-dropdowneditor-icon"></div>
                </div>
                <div *dxTemplate="let data of 'item'" class="custom-item">
                    <div class="product-name"> <i class="dx-icon dx-icon-{{data.report_icon}}"></i>{{ data.name }}</div>
                </div>
            </dx-select-box>
        </div>
        <div class="dx-field">
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <a href="javascript:;" [disabled]="!selectedRowsData" (click)="onReportPreview()"><i class="dx-icon dx-icon-print"></i>{{translate('In','Print')}}</a>
                </div>
            </div>
        </div>
    </div>
</dx-popup>
<dx-popup [width]="'85%'" [height]="'85%'" [showTitle]="true" title="Preview" [dragEnabled]="false" [showCloseButton]="true" container=".dx-viewport" [(visible)]="popupPreviewReportVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-12">
                <div *ngIf="htmlPreview">
                    <div [innerHTML]="htmlPreview"></div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>