<div class="card-container k-form-edit">
    <app-toolbar #toolbar [tableName]="tbName" [CurrenFrom]="CurrenFrom"></app-toolbar>
    <div class="example-wrapper form-group">
        <div class="example-wrapper">
            <div class="card-collapse">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" style="color: #00bcd4 !important;" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Click để lọc dữ liệu
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" style="padding: 5px 10px 5px 0;" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="">
                            <div class="form-group filter">
                                <div class="row div-filter">
                                    <!-- Begin filter -->
                                    <!-- Tên -->
                                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="filter_type" class=" label-title">Lọc đơn</label>
                                            <input-selectpicker-v2 #SelectFilterTypePicker (ValueOutput)="onSelectType($event,'type')" [value]="'1'" [multiple]="false" [list]="listType" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'filter_type'" [title]="'Lọc đơn'"></input-selectpicker-v2>
                                        </div>
                                    </div>
                                    <!-- Ngày bắt -->
                                    <!-- Tình trạng duyệt-->
                                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="status_code" class="label-title">Tình trạng</label>
                                            <input-selectpicker-v2 #SelectStatusApprovePicker (ValueOutput)="onSelectType($event,'approve_status')" [multiple]="false" [list]="listStatus" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'status_code'" [Class]="'selectpicker-filter-working'"
                                                [title]="'Tình trạng'"></input-selectpicker-v2>
                                        </div>
                                    </div>
                                    <!-- end filter -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-component form-group">
        <jqgrid-list #gridList [min_width]="850" (ValueOutput)="selectRow($event)" [colModel]="col_model" [table]="tbName" [title]="'Danh sách đơn'"></jqgrid-list>
    </div>
    <dialog-acction #dialogDelete [content]="'Bạn có chắc chắn muốn xóa?'" [title]="'Vui lòng xác nhận'" (confirmOutput)="confirmDelete()"></dialog-acction>
</div>
<!-- Edit -->
<sidenav-add-edit #sidenavAddEdit [title]="'Chỉnh sửa thông tin đơn xin nghỉ'" *ngIf="isEdit" class="form-sidenav-edit">
    <form method="#" action="#" style="padding: 20px;">
        <app-toolbar #toolbarEdit [tableName]="tbName" [CurrenFrom]="getCurrenFrom"></app-toolbar>
        <alert-message #alertMessage></alert-message>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="row general">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="start_datetime" class=" label-title">Ngày bắt đầu (từ ngày)<span class="input-required">*</span></label><br>
                            <input-datetimepicker id="start_datetime" [ColumnName]="'start_datetime1'" [value]="InputModel.start_datetime" name="start_datetime" (ValueOutput)="valueStartDate($event,'start_datetime')"></input-datetimepicker>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="end_datetime" class=" label-title">Ngày kết thúc (đến ngày)<span class="input-required">*</span></label><br>
                            <input-datetimepicker [ColumnName]="'end_datetime1'" [value]="InputModel.end_datetime" name="end_datetime" (ValueOutput)="valueStartDate($event,'end_datetime')"></input-datetimepicker>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="day_number" class=" label-title">Số ngày nghỉ <span class="input-required">*</span></label>
                            <input type="number" #name="ngModel" name="day_number" [(ngModel)]="InputModel.day_number" [value]="InputModel.day_number" class="form-control" id="day_number">
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" *ngIf="listWorkShift.length > 1">
                        <div class="form-group">
                            <label for="work_shift_code" class=" label-title">Ca trực</label>
                            <input-selectpicker-v2 #SelectWorkShiftPicker (ValueOutput)="onSelectWorkShift($event,'work_shift_code')" [value]="InputModel.work_shift_code" [multiple]="false" [list]="listWorkShift" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'work_shift_code'"></input-selectpicker-v2>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="employee_code_replace" class=" label-title">Người làm thay</label>
                            <input-selectpicker-img #SelectEmployee_replacePicker (ValueOutput)="onSelect($event,'employee_code_replace')" [value]="InputModel.employee_code_replace" [multiple]="false" [list]="listEmployee" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'employee_code_replace'"
                                [FieldIMG]="'avarta'" [textSmall]="'department_name'"></input-selectpicker-img>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="type_off_code" class=" label-title">Loại nghỉ<span class="input-required">*</span></label>
                            <input-selectpicker-v2 #SelectTypeoffPicker (ValueOutput)="onSelect($event,'type_off_code')" [value]="InputModel.type_off_code" [multiple]="false" [list]="listType_off" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'type_off_code'" [title]="'Tình trạng'"></input-selectpicker-v2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="row general">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="total_days_off" class=" label-title">Số ngày đã nghỉ</label>
                            <input type="text" #name="ngModel" [disabled]="true" name="total_days_off" [(ngModel)]="InputModel.total_days_off" [value]="InputModel.total_days_off" class="form-control" id="total_days_off">
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="max_day_number" class=" label-title">Số ngày nghỉ còn lại</label>
                            <input type="text" #name="ngModel" [disabled]="true" name="max_day_number" [(ngModel)]="InputModel.max_day_number" [value]="InputModel.max_day_number" class="form-control" id="max_day_number">
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="checker_code" class=" label-title">Người duyệt<span class="input-required">*</span></label>
                            <input-selectpicker-img #SelectCheckerPicker (ValueOutput)="onSelect($event,'checker_code')" [value]="InputModel.checker_code" [multiple]="false" [list]="listEmployeePermission" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'checker_code'"
                                [FieldIMG]="'avarta'" [textSmall]="'department_name'"></input-selectpicker-img>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="reason" class=" label-title">Lí do <span class="input-required">*</span></label>
                        <textarea type="text" #content="ngModel" name="reason" [(ngModel)]="InputModel.reason" [value]="InputModel.reason" class="form-control" id="reason"></textarea>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="follower" class=" label-title">Người liên quan</label>
                            <input-selectpicker-img #SelectFollowerPicker (ValueOutput)="onSelect($event,'follower')" [value]="InputModel.follower" [multiple]="true" [list]="listEmployee" [FieldValue]="'code'" [FieldDisplay]="'name'" [ColumnName]="'follower'" [FieldIMG]="'avarta'"
                                [textSmall]="'department_name'"></input-selectpicker-img>
                        </div>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label for="notes" class=" label-title">Ghi chú duyệt </label>
                            <textarea type="text" #notes="ngModel" [disabled]="!showApprove" name="notes" [(ngModel)]="InputModel.notes" [value]="InputModel.notes" class="form-control" id="notes"></textarea>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngIf="this.InputModel.code != '' && this.InputModel.code != null && this.InputModel.code">
                        <div class="form-group">
                            <br>
                            <button type="button" *ngIf="InputModel.approve_status == 'A2BA3E54-FAF2-4611-AFBB-D28B276C9658' && showApprove" (click)="onClickApprove()" class="btn btn-outline-success">Duyệt</button>
                            <button type="button" *ngIf="InputModel.approve_status == '1D8A876E-01F6-43E2-BFB0-1491B6BAD019' && showUnApprove" (click)="onClickUnApprove()" class="btn btn-outline-warning">Hủy duyệt</button>
                            <button type="button" *ngIf="InputModel.approve_status == 'A2BA3E54-FAF2-4611-AFBB-D28B276C9658' && showApprove" (click)="onClickRefusedToApprove()" class="btn btn-outline-danger">Từ chối</button>
                            <!-- <button type="button" *ngIf="InputModel.approve_status == 'A2BA3E54-FAF2-4611-AFBB-D28B276C9658' && showApprove" (click)="onClickMoving()" class="btn btn-outline-primary">Chuyển tiếp</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</sidenav-add-edit>